{
  "schema_version": "v1",
  "name_for_model": "osrs_prices",
  "name_for_human": "OSRS Price Checker",
  "description_for_model": "Plugin for checking OSRS prices.",
  "description_for_human": "Plugin for checking OSRS prices.  Useful for flipping and alching.",
  "auth": {
    "type": "none"
  },
  "api": {
    "type": "openapi",
    "url": "{{ running_on }}/openapi.json",
    "is_user_authenticated": false
  },
  "logo_url": "{{ running_on }}/.well-known/logo.png",
  "contact_email": "hello@navi.tips",
  "legal_info_url": "https://navi.tips/legal-info"
}
